{% extends 'base.html.twig' %}

{% block body %}
    <h1>Planelmodel</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ planelModel.id }}</td>
            </tr>
            <tr>
                <th>Model</th>
                <td>{{ planelModel.model }}</td>
            </tr>
            <tr>
                <th>Manufacturer</th>
                <td>{{ planelModel.manufacturer }}</td>
            </tr>
            <tr>
                <th>Cruisespeed</th>
                <td>{{ planelModel.cruiseSpeed }}</td>
            </tr>
            <tr>
                <th>Nbseats</th>
                <td>{{ planelModel.nbSeats }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ planelModel.status }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('planelmodel_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('planelmodel_edit', { 'id': planelModel.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
